body {
    background: linear-gradient(to bottom, #0D1B2A 0%, #08121E 100%);
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Poppins, serif;
    color: #E0E1DD;
}

.login-container {
    display: flex;
    height: 480px;
    width: 768px; 
    margin: 0 15px;
    background-color: #1B263B; 
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
    overflow: hidden; 
}

.login-box{
    flex: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.form-msg {
    flex: 1; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.login-box {
    background-color: #1B263B;
}

.form-login {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center; 
}

.form-login .form-title {
    color: #E0E1DD; 
    margin-bottom: 20px;
}

.form-login h2 {
    color: #E0E1DD; 
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.form-field-container {
    width: 90%; 
    max-width: 350px; 
    text-align: left;
}

.form-login label {
    display: flex; 
    text-align: left; 
    margin-bottom: 5px;
    color: #BFC0C2; 
    font-size: 14px;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #415A77; 
    border-radius: 6px;
    background-color: #0D1B2A; 
    color: #E0E1DD;
    box-sizing: border-box; 
}

.form-login button {
    width: 60%; 
    padding: 10px;
    background-color: #1ED760; 
    color: #0D1B2A; 
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 1000;
    cursor: pointer;
    margin-top: 10px;
}

.form-login button:hover {
    border: 1px solid #fff;
    transition: .1s ease;
    background-color: #39FF7E;
}

.form-msg {
    background-color: #1ED760; 
    color: #0D1B2A; 
    text-align: center;
}

.form-msg .msg {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-msg .msg-dash {
    font-size: 40px;
    font-weight: bold;
}